@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
    font-family: 'poppins', sans-serif;
    height: 100vh;
    background: #e7f2fc;
    transition: 0.2s ease background-color;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.navbar ul
{
    display: flex;

}

.navbar ul li
{
    list-style-type: none;
    margin: 0 25px;

}

.navbar ul li a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #313840;
}

.navbar ul li button
{
    background: transparent;
    border: none;
    cursor: pointer;
}

.fa-moon
{
    color: #313840;
    font-size: 30px;
}

.container
{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1
{
    letter-spacing: 1px;
    font-size: 42px;
    text-align: center;
}

p
{
    width: 50%;
    text-align: center;
    color: #313840;
    margin-bottom: 50px;
}

.buttonbox button
{
    padding: 16px 56px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background: #313840;
    color: #e7f2fc;
    margin: 0 5px;
}

body.dark
{
    background: #313840;
    color: #e8f2fc;
    transition: 0.25 ease background-color;
}

body.dark .navbar ul li a
{
    color: #e8f2fc;
}

body.dark .container h1
{
    color: #e8f2fc;
}

body.dark .container p
{
    color: #e8f2fc;
}

body.dark .buttonbox button
{
    background: #e8f2fc;
    color: #313840;
}

.fa-sun
{
    color: #e8f2fc;
    font-size: 30px;
}